html {
  background-color: #10284b;
  color: white;
}

@media only screen and (max-width: 500px) {
  html {
    max-width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    max-width: 500px;
    border: 2px solid red;
  }
}

body .home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home-header img {
  width: 7rem;
}

body .home-header nav a {
  padding-right: 2rem;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #b5b9c0;
}

body .home-header nav a span {
  color: #24e7fc;
}

body .home-header nav a .resume {
  border: 1px solid #24e7fc;
  border-radius: 9px;
  padding: 0.5rem;
}

@media only screen and (min-width: 501px) {
  body .home-header .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  body .home-header .main-nav {
    display: none;
  }
}

body .menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

body .menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

body .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .menu-wrap .hamburger div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .menu-wrap .hamburger div:before, body .menu-wrap .hamburger :after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

body .menu-wrap .hamburger div:after {
  top: 10px;
}

body .menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

body .menu-wrap .toggler:checked + .hamburger > div:before,
body .menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

body .menu-wrap .toggler:checked ~ .menu div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: scale 1.5s ease;
          transition-duration: scale 1.5s ease;
}

body .menu-wrap .toggler:checked ~ .menu div div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

body .menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .menu-wrap .menu div {
  background-color: #10284b;
  opacity: 0.9;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .menu-wrap .menu div div {
  max-width: 90vw;
  max-height: 100vw;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

body .menu-wrap .menu div div ul li {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

body .menu-wrap .menu div div ul li a {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #b5b9c0;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

body .menu-wrap .menu div div ul li a span {
  color: #24e7fc;
}

body .main-container {
  width: 80rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 500px) {
  body .main-container {
    max-width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  body .main-container .about-container {
    max-width: 395px;
    margin: 0em 11em 0em 4em;
    border: 3px solid white;
  }
}

@media only screen and (max-width: 500px) {
  body .main-container {
    max-width: 500px;
    border: 3px solid green;
  }
}

body .main-container h4 {
  font-family: "Space Mono", monospace;
  margin: 0px;
  width: 50rem;
  color: #24e7fc;
}

@media only screen and (max-width: 500px) {
  body .main-container h4 {
    font-size: 1.2rem;
  }
}

body .main-container h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 6em;
  margin: 0px;
  width: 50rem;
  opacity: 0.7;
}

@media only screen and (max-width: 500px) {
  body .main-container h1 {
    width: 25rem;
    font-size: 3em;
  }
}

body .main-container h3 {
  font-family: "Space Mono", monospace;
  font-size: 3rem;
  margin: 0px;
  opacity: 0.5;
}

@media only screen and (max-width: 500px) {
  body .main-container h3 {
    font-size: 1.5rem;
    width: 17em;
  }
}

body .main-container p {
  font-size: 1.2em;
  font-family: "Space Mono", monospace;
  margin: 0px;
  margin-top: 2rem;
  width: 50rem;
  opacity: 0.5;
}

@media only screen and (max-width: 500px) {
  body .main-container p {
    font-size: 1.2em;
    width: 24rem;
  }
}

body .skills-container {
  margin-top: 1rem;
}

body .skills-container h1 {
  margin-bottom: 0;
  font-size: 2.5em;
  margin-top: 1.5em;
}

body .skills-container ul {
  font-size: 3em;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 0.4em;
  width: 50rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .skills-container ul li {
  padding: 0.5em;
  padding-top: 0;
  padding-bottom: 3rem;
}

body .skills-container ul li .fa-html5 {
  color: #ff7000;
}

body .skills-container ul li .fa-css3-alt {
  color: #4b97ff;
}

body .skills-container ul li .fa-js {
  color: #f7df00;
  background-color: black;
}

body .skills-container ul li .fa-react {
  color: #52e3ff;
}

body .skills-container ul li .lessLogo {
  -webkit-filter: invert(70%) sepia(1%) saturate(3091%) hue-rotate(297deg) brightness(147%) contrast(129%);
          filter: invert(70%) sepia(1%) saturate(3091%) hue-rotate(297deg) brightness(147%) contrast(129%);
}

body .skills-container ul li img {
  width: 55px;
}

body .social-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  font-size: 1.5rem;
}

body .social-container .fab {
  color: white;
}

body .social-container .fas {
  color: white;
}

body .social-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body .social-container ul li {
  padding-left: 1em;
  padding-right: 1em;
}

body .social-container ul li ::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  margin: 0px auto;
  background-color: white;
}

body .social-container ul li ::after i {
  font-weight: 400;
}

body .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Work Sans", sans-serif;
}

body .projects-container h1 {
  padding-bottom: .2em;
  font-size: 2.5em;
  width: 50rem;
  margin: 0 auto;
  opacity: 0.7;
  font-family: "Work Sans", sans-serif;
}

body .projects-container .idv-project {
  border-top: 3px solid #24e7fc;
  margin-bottom: 1.5rem;
}

body .projects-container .idv-project .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  opacity: .8;
  padding-top: .5em;
}

body .projects-container .idv-project .title-container h4 {
  font-size: 1.5rem;
  color: #24e7fc;
  margin-bottom: 0px;
  width: 4rem;
  font-family: 'Roboto', sans-serif;
}

body .projects-container .idv-project .title-container h5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

body .projects-container .projects-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .projects-container .projects-img-container img {
  width: 60vw;
  border-radius: 17px;
}

body .projects-container .gp-img {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .projects-container .gp-img .child-profile {
  margin-top: 1rem;
}

body .projects-container .project-info .description-container {
  margin-top: 1rem;
}

body .projects-container .project-info .description-container h4 {
  font-size: 1.5rem;
  color: #24e7fc;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

body .projects-container .project-info .description-container p {
  width: 45rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  opacity: .8;
  line-height: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

body .projects-container .project-info .github {
  font-family: 'Roboto', sans-serif;
  opacity: .8;
}

body .projects-container .project-info .github a {
  color: #24e7fc;
}

body .projects-container .project-info .deploy {
  font-family: 'Roboto', sans-serif;
  opacity: .8;
}

body .projects-container .project-info .deploy a {
  color: #24e7fc;
}

body #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Work Sans", sans-serif;
}

body #contact h1 {
  margin-top: 3em;
  padding-bottom: .2em;
  font-size: 2.5em;
  width: 50rem;
  opacity: 0.7;
  font-family: "Work Sans", sans-serif;
}

body #contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body #contact form input {
  font-size: 1.4em;
  margin-bottom: 1em;
  border-radius: 17px;
  height: 3em;
  padding-left: 0.5em;
}

body #contact form textarea {
  font-size: 1.4em;
  border-radius: 10px;
  padding-left: .5em;
  padding-top: .5em;
  font-family: 'Roboto';
}

body #contact form button {
  width: 39%;
  margin: 0 auto;
  border-radius: 10px;
  height: 2em;
  margin-top: 1em;
  background-color: #24e7fc;
  border: none;
  color: #10284b;
  font-family: 'Roboto';
  font-size: 1.3em;
}
/*# sourceMappingURL=style.css.map */